<!DOCTYPE html>
<html>
  <head>
    <title>Files</title>
    <meta content="PrintedWaste Files" name="description" />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.discordapp.com/attachments/1061755202086125678/1085013775893143563/Boosteriod_Rounded.png"
    />
    <script>
      function formatFileSize(size) {
        const units = ["B", "KB", "MB", "GB", "TB"];
        let unitIndex = 0;
        while (size >= 1024 && unitIndex < units.length - 1) {
          size /= 1024;
          unitIndex++;
        }
        return size.toFixed(2) + " " + units[unitIndex];
      }
    </script>
    <style type="text/css">
      body {
        background-color: #1e1e1e;
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }

      .heading {
        font-size: 32px;
        font-weight: bold;
        margin: 0 0 20px;
        text-align: center;
      }

      .heading2 {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 20px;
        text-align: center;
      }

      .files {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #666666;
        padding: 10px 0;
      }

      .file img {
        max-width: 100%;
        height: auto;
        margin-right: 10px;
      }

      .file-name {
        flex-grow: 1;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .file-size {
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px;
        color: #ffffff;
      }

      .dark-mode-toggle {
        position: fixed;
        right: 20px;
        top: 20px;
        background-color: #ffffff;
        color: #1e1e1e;
        border: none;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

      a {
        color: #ffffff;
        text-decoration: underline;
      }

      a:hover {
        color: #ffffff;
        text-decoration: none;
        /*make it bigger*/
        font-size: 110%;
      }
      /* Search bar */
      .search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        max-width: 600px;
      }

      .search input[type="text"] {
        width: 80%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        background-color: #282828;
        color: #ffffff;
        outline: none;
      }

      .search button[type="submit"] {
        display: none;
      }

      .search button[type="submit"] i {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="./files/upload/public">
        <h1 class="heading">Files</h1>
      </a>

      <form class="search">
        <input type="text" name="q" placeholder="Search..." id="searchInput" />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <ul class="files">
        <% files.forEach(function(file) { %> <% if (file && file.mimetype &&
        file.mimetype.includes('image')) { %>
        <li class="file">
          <div class="file-name">
            <% if (!file.size) { %>
            <a href="/files/<%= file.folder %>/<%= file.filename %>"
              ><%= file.filename %></a
            >
            <% } else if (file.isDirectoryFile) { %>
            <a href="/files/<%= file.folder %><%= file.filename %>"
              ><%= file.filename %></a
            >
            <% } else { %>
            <a href="/files/<%= file.folder %><%= file.filename %>"
              ><%= file.filename %></a
            >
            <% }%>
          </div>
          <% if (file.size) { %>
          <div class="file-size"><%= formatFileSize(file.size) %></div>
          <% } %>
        </li>
        <% } else { %>
        <li class="file">
          <div class="file-name">
            <% if (!file.size) { %>
            <a href="/files/<%= file.folder %>/<%= file.filename %>"
              ><%= file.filename %></a
            >
            <% } else if (file.isDirectoryFile) { %>
            <a href="/files/<%= file.folder %><%= file.filename %>"
              ><%= file.filename %></a
            >
            <% } else { %>
            <a href="/files/<%= file.folder %>/<%= file.filename %>"
              ><%= file.filename %></a
            >
            <% } %>
          </div>
          <% if (file.size) { %>
          <div class="file-size"><%= formatFileSize(file.size) %></div>
          <% } %>
        </li>
        <% } %> <% }); %>
      </ul>
    </div>

    <script>
      const searchInput = document.getElementById("searchInput");
      const files = document.getElementsByClassName("file");

      searchInput.addEventListener("input", function () {
        const searchQuery = searchInput.value.toLowerCase();
        for (let file of files) {
          const fileName = file
            .querySelector(".file-name a")
            .textContent.toLowerCase();
          if (fileName.includes(searchQuery)) {
            file.style.display = "flex";
          } else {
            file.style.display = "none";
          }
        }
      });
    </script>
  </body>
</html>
