<!DOCTYPE html>
<html>
  <head>
    <title>Files</title>
    <meta content="PrintedWaste Files" name="description" />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.discordapp.com/attachments/1061755202086125678/1085013775893143563/Boosteriod_Rounded.png"
    />
    <style type="text/css">
      body {
        background-color: #1e1e1e;
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }

      .heading {
        font-size: 32px;
        font-weight: bold;
        margin: 0 0 20px;
        text-align: center;
      }

      .files {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #666666;
        margin-bottom: 10px;
        background-color: #333333;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        overflow: hidden;
        animation: slideIn 0.5s;
        cursor: pointer;
      }

      @keyframes slideIn {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }

      .file:hover {
        transform: translateY(-2px);
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
      }

      .file img {
        max-width: 50px;
        height: auto;
        margin-right: 10px;
        border-radius: 50%;
      }

      .file-name {
        flex-grow: 1;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 10px;
      }

      .file-size {
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
      }

      .dark-mode-toggle {
        position: fixed;
        right: 20px;
        top: 20px;
        background-color: #ffffff;
        color: #1e1e1e;
        border: none;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

      a {
        color: #ffffff;
        text-decoration: underline;
      }

      /* Search bar */
      .search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        max-width: 600px;
      }

      .search input[type="text"] {
        width: 80%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        background-color: #282828;
        color: #ffffff;
        outline: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="./files/upload/public">
        <h1 class="heading">Files</h1>
      </a>
    
      <form class="search">
        <input type="text" name="q" placeholder="Search..." id="searchInput" />
      </form>
    
      <ul class="files">
        <% files.forEach(function(file) { %>
        <% if (file && file.mimetype && file.mimetype.includes('image')) { %>
        <li class="file" onclick="window.location.href='/files/<%= file.folder %>/<%= file.filename %>'">
          <div class="file-name">
            <a href="/files/<%= file.folder %>/<%= file.filename %>"><%= file.filename %></a>
          </div>
          <% if (file.size) { %>
          <div class="file-size"><%= formatFileSize(file.size) %></div>
          <% } %>
        </li>
        <% } else { %>
        <li class="file" onclick="window.location.href='/files/<%= file.folder %>/<%= file.filename %>'">
          <div class="file-name">
            <a href="/files/<%= file.folder %>/<%= file.filename %>"><%= file.filename %></a>
          </div>
          <% if (file.size) { %>
          <div class="file-size"><%= formatFileSize(file.size) %></div>
          <% } %>
        </li>
        <% } %> <% }); %>
      </ul>
    </div>
    

    <script>
      const searchInput = document.getElementById("searchInput");
      const files = document.getElementsByClassName("file");

      searchInput.addEventListener("input", function () {
        const searchQuery = searchInput.value.toLowerCase();
        for (let file of files) {
          const fileName = file
            .querySelector(".file-name a")
            .textContent.toLowerCase();
          if (fileName.includes(searchQuery)) {
            file.style.display = "flex";
          } else {
            file.style.display = "none";
          }
        }
      });
    </script>
  </body>
</html>
